---
layout: default
title: Stream
permalink: /stream/index.html

categories: 
  - days
  - trips
  - timeline
---

<div class="row">
  {% for item in page.categories %}
  <div class="column3">
    <a href="{{ item }}">
      <div class="section section-sm" style="background-color: var(--color{{ item | capitalize }});">
        <span>{{ item | capitalize }}</span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<h1>Latest posts</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <p>
        <span class="tag" style="background-color: var(--color{{ post.categories[0] | capitalize }});">
          {{ post.categories }}
        </span>
         · <a href="{{ post.url }}">{{ post.title }}</a></p>
    </li>
  {% endfor %}
</ul>