---
layout: default
title: Stream
permalink: /stream/index.html

categories: 
  - days
  - trips
  - timeline
---

<div class="row">
  {% for item in page.categories %}
  <div class="column3">
    <a href="{{ item }}">
      <div class="section section-sm" style="background-image: url('/assets/images/capitals/backgrounds/demo.svg');">
        <span>{{ item | capitalize }}</span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<h1>Latest posts</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <p>{{ post.categories }} · <a href="{{ post.url }}">{{ post.title }}</a></p>
    </li>
  {% endfor %}
</ul>