@font-face {
    font-family: LibreBaskerville;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: LibreBaskerville;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Bold.woff2") format("woff2"); 
}

@font-face {
    font-family: LibreBaskerville;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Italic.woff2") format("woff2"); 
}

:root {
    --colorBlack: rgb(28, 28, 28);
    --colorWhite: rgb(230, 222, 211);
    --colorBlue: rgb(12, 130, 176);
    --colorGreen: rgb(28, 172, 31);
    --colorOrange: rgb(238, 150, 35);
    
    --inkColor: var(--colorBlack);
    --shadowColor: rgb(28, 28, 28, 0.65);
    --backgroundColor: var(--colorWhite);
    --accentColorA: var(--colorBlue);
    --accentColorB: var(--colorOrange);
}

body {
    font-family: LibreBaskerville, serif;
    font-size: 1em;
    background: var(--backgroundColor);
    color: var(--inkColor);
    padding: 2em;
    min-width: 0;
    max-width: 50em;
    margin: auto;
    background-image: url('/assets/images/paper.webp');
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 3em;
}

a {
    color: var(--accentColorA);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--accentColorB);
}

p {
    font-size: 1.1em;
    text-align: justify;
}

h1, h2, h3, h4, p, span {
    background-image: url('/assets/images/ink.webp');
    background-repeat: repeat;
    background-size: cover;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}

.row {
    display: flex;
}

.column3 {
    flex: 33%;
    padding: 1em;
    padding-bottom: 0;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border: solid 3px var(--inkColor);
    box-shadow: 2px 2px 0 var(--shadowColor);
}

.section span {
    /* color: var(--shadowColor); */
    -webkit-text-stroke: 1px var(--backgroundColor);
}

.section-sm {
    margin: 1em auto;
    height: 50px;
}

.section-sm span {
    margin-left: 0.15em;
    font-size: 2.5em;
}

.section-big {
    margin: 2em auto;
    height: 65px;
    width: 650px; 
}

.section-big span {
    margin-left: 0.5em;
    font-size: 3.15em;
}

.capital {
    float: left;
    position: relative;
    margin-right: 5px;
    height: 125px;
    width: 100px;
    color: black;
    border: solid;
    border-width: 2px;
    box-shadow: 2px 2px 0 var(--shadowColor);
}

.capital img {
    left: 0;
    position: absolute;
}

.capital span {
    left: 0;
    position: absolute;
    margin: 10px;
    font-weight: bold;
    font-size: 80px;
    -webkit-text-stroke: 2px #fff;
}
