---
layout: none
---

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Maplibre WGS84 Topographic Vector Basemaps Demo</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	
	<script src="https://unpkg.com/chartjs/chart.js"></script>
	<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
	<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />

	<style>
		body {
			margin: 0;
			padding: 0;
		}

		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		
		#chart-container {
			height: 25%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			background-color: rgba(255, 255, 255, 0.9);
			text-align: center;
		}
		
		#chart-inner-container {
			position: relative;
			margin: auto;
			height: 100%;
			width: 100vw;
		}
	</style>
</head>

<body>
	<div id="map">
		<!-- <div id="chart-container">
			<div id="chart-inner-container">
				<canvas id="chart-canvas"></canvas>
			</div>
		</div> -->
	</div>
	
	<script type="module">
		const map = new maplibregl.Map({
			style: 'https://tiles.openfreemap.org/styles/liberty',
			center: [0, 0],
			zoom: 2,
			container: 'map',
		})
		
		// const myLineChart = new Chart(document.getElementById('chart-canvas'), {
		// 	type: 'line',
		// 	data: {
		// 		labels: [],
		// 		datasets: []
		// 	},
		// 	options: {
		// 		plugins: {
		// 			legend: {
		// 				display: false
		// 			},
		// 			title: {
		// 				display: true,
		// 				align: 'start',
		// 				text: 'Elevation (m)'
		// 			}
		// 		},
		// 		maintainAspectRatio: false,
		// 		responsive: true,
		// 		scales: {
		// 			x: {
		// 				grid: {
		// 					display: false
		// 				}
		// 			},
		// 			y: {
		// 				min: 0,
		// 				grid: {
		// 					display: false
		// 				}
		// 			}
		// 		},
		// 		elements: {
		// 			point: {
		// 				radius: 0
		// 			}
		// 		},
		// 		layout: {
		// 			padding: {
		// 				top: 6,
		// 				right: 20,
		// 				bottom: -10,
		// 				left: 20
		// 			}
		// 		}
		// 	}
		// });

		map.on('style.load', () => {
			map.setProjection({
				type: 'globe', // Set projection to globe
			});
		});

		import {
			gpx
		} from "https://unpkg.com/@tmcw/togeojson?module";

		console.log("{{page.gpx_path}}")
		map.on('load', async () => {
			const existingImages = {};
			map.on('styleimagemissing', async (e) => {
				if (existingImages[e.id] || !e.id.includes('mapout')) {
					return;
				}
				existingImages[e.id] = true;
				const response = await fetch('/assets/icons/mapout-maki/' + e.id + '.svg');
				const svgText = await response.text();
				const svg = 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svgText);
				const image = new Image();
				const promise = new Promise((resolve) => {
					image.onload = resolve;
				});
				image.src = svg;
				await promise; // Wait for the image to load
				map.addImage(e.id, image);
			});
			
			fetch("{{page.gpx_path}}")
				.then(function(response) {
					return response.text();
				})
				.then(function(xml) {
					const geoJSONcontent = gpx(new DOMParser().parseFromString(xml, "text/xml"));
					console.log(geoJSONcontent)

					// Add as source to the map
					map.addSource('route', {
						'type': 'geojson',
						'data': geoJSONcontent
					});

					map.addLayer({
						'id': 'route-line',
						'type': 'line',
						'source': 'route',
						'layout': {
							'line-join': 'round',
							'line-cap': 'round'
						},
						'paint': {
							'line-color': ['coalesce', ['get', 'gpxx_DisplayColor'], 'red'],
							'line-width': 4
						},
						'filter': ['==', '$type', 'LineString']
					});

					map.addLayer({
						'id': 'route-points',
						'type': 'circle',
						'source': 'route',
						'paint': {
							'circle-radius': 15,
							'circle-color': ["concat", "#", ['coalesce', ['get', 'mapout_color'], 'F00']],
							'circle-opacity': 0.75,
							'circle-stroke-width': 2
						},
						'filter': ['==', '$type', 'Point']
					});
					
					map.addLayer({
						'id': 'route-points-labels',
						'type': 'symbol',
						'source': 'route',
						'layout': {
							'icon-image': ['image', ["concat", "mapout-", ['get', 'sym']]],
							'text-field': ['get', 'name'],
							'text-font': ['Noto Sans Bold'],
							'text-size': 12,
							'text-offset': [0, 1.5],
							'text-anchor': 'top'
						},
						'filter': ['==', '$type', 'Point']
					});

					const coordinates = geoJSONcontent.features[0].geometry.coordinates;

					// Pass the first coordinates in the LineString to `lngLatBounds` &
					// wrap each coordinate pair in `extend` to include them in the bounds
					// result. A variation of this technique could be applied to zooming
					// to the bounds of multiple Points or Polygon geometries - it just
					// requires wrapping all the coordinates with the extend method.
					const bounds = coordinates.reduce((bounds, coord) => {
						return bounds.extend(coord);
					}, new maplibregl.LngLatBounds(coordinates[0], coordinates[0]));

					map.fitBounds(bounds, {
						padding: 20
					});
					
				// 	function updateElevationProfile() {
				// 		// split the line into 1km segments
				// 		const chunks = geoJSONcontent.features[0].geometry;
				// 	
				// 		// get the elevation for the leading coordinate of each segment
				// 		const elevations = [
				// 			...chunks.map((feature) => {
				// 				return feature.geometry.coordinates[3]
				// 				);
				// 			}),
				// 			// do not forget the last coordinate
				// 			hunks[chunks.length - 1].geometry.coordinates[3]
				// 		];
				// 	
				// 		// add dummy labels
				// 		myLineChart.data.labels = elevations.map(() => '');
				// 		myLineChart.data.datasets[0] = {
				// 			data: elevations,
				// 			fill: false,
				// 			tension: 0.4
				// 		};
				// 		myLineChart.update();
				// 	}
				// 	
				// 	// trigger the first chart draw after the DEM tiles have loaded
				// 	await map.once('idle');
				// 	updateElevationProfile();

				});
		});
	</script>
</body>

</html>